export(CharNumSplit)
export(Diag)
export(Factor)
export(GroupedMedian)
export(Riffle)
export(SampleToSum)
export(TriIndex)
export(TrueSeq)
export(adjCombos)
export(almostComplete)
export(appendMe)
export(clc)
export(completeVecs)
export(concat.split.DT)
export(expandRows)
export(findFirst)
export(ftable2df)
export(getMyRows)
export(helpExtract)
export(letterRep)
export(makemeNA)
export(melt.wide)
export(moveMe)
export(naLast)
export(needleInHaystack)
export(read.mtable)
export(shifter)
export(shuffler)
export(tidyHTML)
export(toColClasses)
export(vec2symmat)
export(write.Hmisc.SPSS)
